
h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

h4{
    font-size: large;
    font-weight: bold;
    margin-left: 70px ;
    color: white;
}

p{
    margin-left: 70px;
    font-family: 'Poppins', sans-serif;
    color:white
}

body {
    background-color: rgb(253, 161, 42);
}

label {
    color: white;
}

.button{
    background-color: black;
}

.paragraph{
    line-height: 3;
    margin-left: 70px ;
    margin-right: 70px
}

img{
    float: right;
}